/*
font-family: 'Signika', sans-serif;
font-family: 'Changa', sans-serif; 
*/

/* -------------------- General -------------------- */

* {
    color: white;
x`
}

body {
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
    margin: 0;
    background-color: rgb(53, 53, 53);
}

h1 {
    font-size: 60px;
}

article {
    width: 80%;
    height: 100%;
}

input,textarea {
    color: black;
}

.icon {
    width: 20px;
    margin: 0px 10px 0px 0px;
}

.vert {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: auto;
}

.content {
    margin-left: 20%;
    text-align: center;
}

/* -------------------- Nav -------------------- */

header {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: rgb(255, 82, 2);
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: auto;
}

nav h1 {
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 100px;
    text-align: left;
}

nav ul {
    list-style-type: none;
}

nav ul a {
    opacity: 0.35;
    font-size: 20px;
}

nav ul a:hover {
    opacity: 1;
    transition: 1s;
}

/* this :active is not working */
nav ul a:active {
    opacity: 1;
}

.social-media {
    margin-top: 50px;
}

.social-media img {
    display: inline;
    opacity: 0.35;
}

.social-media img:hover {
    opacity: 1;
    transition: 1s;
}


/* -------------------- About -------------------- */

#about {
    background-color: rgb(34, 34, 34);
}

/* -------------------- Work -------------------- */

#work {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(53, 53, 53);
    text-align: left;
}

.pro-container {
    flex: 1 0 33%;
    font-size: 13px;
}

#work h1 {
    font-size: 13px;
    font-style: italic;
}

#work h2 {
    font-size: 25px;
    font-weight: 900;
}

#pro1 {
    background-image: url("../images/bourbonbar.jpg");
    background-size: cover;
}

#pro2 {
    background-color: rgb(51, 117, 81);
}

/* placeholder */
#pro3,#pro5,#pro7,#pro9 {
    background-color: rgb(34, 34, 34);
}

/* -------------------- Resume -------------------- */

#resume {
    background-color: rgb(34, 34, 34);
}

/* -------------------- Contact -------------------- */

#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    text-align: left;
}

#contact-left {
    width: 70%;
    padding: 50px;
}

#contact-right {
    width: 30%;
    padding: 50px;
}

#contact p {
    margin: 10px 0px 0px 0px;
}

form {
    display: block;
    margin: 50px 0px 0px 0px;
}

input, textarea {
    width: 100%;
    border: none;
    padding: 10px;
    margin: 10px 0px 20px 0px;
}

input[type=submit] {
    background-color: rgb(34, 34, 34);
    color: white;
}